.App {
  background-color: #fafcf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-logo {
  height: 50vmin;
}

.App-text {
  color: black;
  align-items: center;
  justify-content: center;
  display: flex;
}

.App-split {
  border-bottom: dotted;
  font-weight: bold;
  width: 100vw;
  text-align: center;
}

#Content {
  color: #fafcf8;
  background-color: #4985fe;
}

#Lyrics {
  color: block;
  background-color: #fafcf8;
}

#albums {
  white-space: nowrap;
  height: 50vh;
}

.App-statement {
  text-align: center;
  margin: 3px 5px;
}

.App-contentbar {
  float: left;
  display: flex;
  height: 50vh;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#welcome {
  height: 50vmin;
  white-space: normal;
}

#links {
  background-color: #4985fe;
  height: 50vmin;
  overflow-x: auto;
}
