.App {
  background-color: #fafcf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-logo {
  height: 50vmin;
}

.App-text {
  color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-text: center;
  display: flex;
}

.App-split {
  border-bottom: dotted;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 100vw;
  background-color: #4985fe;
}

.App-statement {
  margin: 3px 5px;
}

.App-contentbar {
  float: left;
  display: flex;
  height: 50vh;
  width: 100vw;
  overflow: hidden;
}

#welcome {
  height: 50vmin;
}

#links {
  background-color: #4985fe;
  height: 50vmin;
  overflow-x: auto;
}
