.Album-container {
  height: 50vmin;
  white-space: nowrap;
  overflow: visible;
}

.Album-album {
  display: inline-block;
}

.Album-image {
  height: 50vmin;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 0.9;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.Album-title {
  font-weight: bold;
}

.Album-lyrics {
  white-space: pre-line;
  font-style: italic;
}
