.ListOfLinks-container {
  justify-content: center;
  text-align: center;
  color: #fafcf8;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.ListOfLinks-list {
}

.ListOfLinks-listitem {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}


.ListOfLinks-link {
  color: #fabd35;
  text-decoration: none;
}
